.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de tamaño igual */
    grid-auto-rows: auto; /* Altura automática para cada fila */
    grid-gap: 20px;
}

.article {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.article img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.article h2 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.article p {
    margin-bottom: 0;
}
