/* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif; /* Fuente del texto */
    margin: 0; /* Elimina el margen exterior */
    padding: 0; /* Elimina el relleno exterior */
    height: 100vh; /* Altura del cuerpo igual al 100% de la altura de la ventana gráfica */
    background-color: #f2f2f2; /* Color de fondo */
    display: flex; /* Flexbox para centrar contenido vertical y horizontalmente */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

/* Estilos para el contenedor principal */
.container {
    display: flex; /* Flexbox para centrar contenido vertical y horizontalmente */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 90%; /* Altura del contenedor igual al 90% de la altura de la ventana gráfica */
    width: 100%; /* Ancho del contenedor igual al 100% del viewport */
}

/* Estilos para el sidebar */
.sidebar {
    width: 30%; /* Ancho del sidebar */
    min-width: 200px; /* Ancho mínimo del sidebar */
    max-width: 400px; /* Ancho máximo del sidebar */
    background-color: #c3c3c3; /* Color de fondo */
}

.sidebar ul {
    list-style-type: none; /* Elimina la viñeta de la lista */
    padding: 0; /* Elimina el relleno de la lista */
}

.sidebar ul li {
    padding: 10px; /* Espaciado entre elementos de la lista */
}

.sidebar ul li a {
    text-decoration: none; /* Quita la decoración de enlace */
    color: #333; /* Color del texto */
}

/* Estilos para el contenido */
.content {
    width: 70%; /* Ancho del contenido */
    height: 100%; /* Altura del contenido igual al 100% del contenedor */
    padding: 20px; /* Relleno interno */
    box-sizing: border-box; /* Incluye el relleno en el tamaño total */
    overflow: auto; /* Agrega barra de desplazamiento si el contenido es más grande que el contenedor */
}

.content-section {
    height: 100%; /* Altura de la sección igual al 100% del contenedor */
}

/* Estilos para el objeto incrustado */
object {
    width: 100%; /* Ancho del objeto al 100% del contenedor */
    height: 100%; /* Altura del objeto al 100% del contenedor */
    border: none; /* Quita el borde del objeto */
}


/* Estilos para la grilla de portafolio */
.portfolio {
    display: grid; /* Utiliza una grilla para el diseño */
    grid-template-columns: repeat(3, 1fr); /* Define 3 columnas de ancho igual */
    grid-gap: 20px; /* Espacio entre elementos de la grilla */
    max-width: 100%; /* Ancho máximo del portafolio */
    width: 100%; /* Ancho completo */
    padding: 20px; /* Relleno interno */
    margin: 50px auto; /* Centra horizontalmente y agrega espacio arriba y abajo */
}
    
.project {
    background-color: #fff; /* Color de fondo */
    border-radius: 10px; /* Borde redondeado */
    padding: 20px; /* Relleno interno */
    box-shadow: 0; /* Elimina la sombra */
}


