body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f2f2f2;
    display: flex;
    justify-content: column;
    align-items: center;
}

.container {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
}

.project img {
    width: 100%; /* Se ajusta al ancho del contenedor */
    max-height: 200px; /* Altura máxima */
    object-fit: cover; /* Asegura que la imagen se recorte si es necesario */
    display: block;
}

/* Estilos para el sidebar */
.sidebar {
    width: 30%;
    min-width: 200px;
    max-width: 400px;
    background-color: #c3c3c3;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

/* Estilos para el contenido */
.content {
    width: 70%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
}

.content-section {
    height: 100%;
}

object {
    width: 100%;
    height: 100%;
    border: none;
}

/* Estilos para la grilla de portafolio */
.portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 100%;
    width: 100%;
    padding: 20px;
    margin: 50px auto;
}

.project {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Agrega una sombra ligera */
}

/* Media queries para dispositivos pequeños */
@media (max-width: 768px) {
    .portfolio {
        grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas más pequeñas */
    }

    .project img {
        max-height: 150px; /* Altura más pequeña para pantallas móviles */
    }
}

@media (max-width: 480px) {
    .portfolio {
        grid-template-columns: 1fr; /* Una columna en pantallas muy pequeñas */
    }

    .project img {
        max-height: 100px; /* Ajusta el tamaño de las imágenes en móviles pequeños */
    }
}
